---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-configmap-env
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
data:
  # Java Opts values
  JAVA_OPTS: "{{ .Values.java_opts }} -XX:MaxRAMPercentage=50 -XX:+PrintFlagsFinal"

